<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="display: flex;">
        <div style="display: flex; background-color: black; width: 1000px; height: 500px; margin: auto; border: 1px solid black;">
            <div style=" background-color: yellow; width: 100px;"></div>
            <div style=" background-color: green; width: 100px;"></div>
            <div style=" background-color: red; width: 100px;"></div>
        </div>
    </div>
    
    <div style="background-color: lightblue; width: 1000px; height: 500px;">
        <div style="width: 100px; background-color: black; height: 200px;"></div>
        <span>asdfaf</span>
        <span>adsfasddd</span>
    </div>

</body>

</html>